@using PagedList.Mvc
@model  PagedList.IPagedList<myCareer.Models.ShortListViewModel>    
@{
    ViewBag.Title = "shortListedCandidates";
    Layout = "~/Views/Layouts/Frontend/_Frontend.cshtml";
    ViewBag.activeStatus = "shortlist";

}
<div class="careerfy-main-content">

    <!-- Main Section -->
    <div class="careerfy-main-section careerfy-top-full">
        <div class="container">
            <div class="row">
                    @Html.Partial("_employerHeader", (String)ViewBag.activeStatus)
                <div class="careerfy-column-9">
                    <div class="careerfy-typo-wrap">
                        <div class="careerfy-employer-dasboard">
                            <div class="careerfy-employer-box-section">
                                <!-- Profile Title -->
                                <div class="careerfy-profile-title">
                                    <h2>Shortlisted Resumes</h2>
                                    @using (Html.BeginForm("shortListedCandidates", "Employer", FormMethod.Get, new { id = "job_info", name = "job_info", enctype = "multipart/form-data", @class = "careerfy-employer-search" }))
                                    {
                                        <input name="searchkey" type="text">
                                        <input type="submit" value="">
                                        <i class="careerfy-icon careerfy-search"></i>
                                    }
                                </div>
                                <!-- Resumes -->
                                <div class="careerfy-employer-resumes">
                                    <ul class="careerfy-row">

                                        @for (int i = 0; i < Model.Count; i++)
                                        {
                                            <li class="careerfy-column-6">
                                                <div class="careerfy-employer-resumes-wrap">
                                                    <figure>
                                                        <a href="#" class="careerfy-resumes-thumb"><img src="@Url.Content("~/Content/images/")@Model[i].profile" alt=""></a>
                                                        <figcaption>
                                                            <h2><a href="@Url.Action("jobseeker_profile","home")/?id=@Model[i].jobseeker_id">@Model[i].jobseeker</a> <a href="@Url.Action("cvdownload","home")?js_id=@Model[i].jobseeker_id" class="careerfy-resumes-download"><i class="careerfy-icon careerfy-download-arrow"></i> Download CV</a></h2>
                                                            <ul>
                                                                <li>
                                                                    <span>Location:</span>
                                                                    @Model[i].address
                                                                </li>
                                                                <li>
                                                                    <span>Age:</span>
                                                                    @Model[i].age<small> Years</small>
                                                                </li>
                                                            </ul>
                                                        </figcaption>
                                                    </figure>
                                                    <ul class="careerfy-resumes-options">
                                                        <li><a href="javascript:void(0)" onclick="messageUser(@Model[i].jobseeker_id)"><i class="careerfy-icon careerfy-mail"></i> Message</a></li>
                                                        <li><a href="@Url.Action("jobseeker_profile","home")/?id=@Model[i].jobseeker_id"><i class="careerfy-icon careerfy-user-1"></i> View Profile</a></li>
                                                        <li><a href="javascript:void(0)" onclick="removeUser(@Model[i].app_id)"><i class="careerfy-icon careerfy-linkedin-1"></i> Remove</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                      
                                    </ul>
                                </div>
                                <!-- Pagination -->
                                <div class="careerfy-pagination-blog">
                                    <div class="careerfy-pagination-blog">
                                        @Html.PagedListPager(Model, page => Url.Action("shortListedCandidates", new { page, searchkey = Request.QueryString["searchkey"], job_id = Request.QueryString["job_id"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Main Section -->

</div>
<script type="text/javascript">
    function messageUser(js_id)
    {
        $.confirm({
            title: 'Send Message',
            content: 'url:@Url.Content("~/Static/message.html")',
            buttons: {
                send: {
                    text: 'Send',
                    btnClass: 'btn-orange',
                    action: function () {
                        $('#js_id').val(js_id)
                        var name = this.$content.find('input#name');
                        var email = this.$content.find('input#email');
                        var phone = this.$content.find('input#phone');
                        var message = this.$content.find('textarea#message1');
                        if (!name.val().trim() && !email.val().trim() && !phone.val().trim() && !message.val().trim()) {
                            $.alert({
                                content: "Fill the required fields",
                                type: 'red'
                            });
                        } else {
                            $.post("@Url.Action("jobseekerMessage","home")", $('#messageBox').serialize()).done(function (response, status, jqxhr) {
                                if (response == true) {
                                    $.alert("Sucessfully Sent message to the user");
                                    document.getElementById("message").reset();
                                }
                                else
                                    $.alert("Message sending failed!!!");

                            })
                        }
                    }
                },
                Cancel: function () {
                    // do nothing.
                }
            }
        });

    }
    function removeUser(app_id)
    {
        
        $.confirm({
            title: 'Confirm!',
            content: 'Remove the jobseeker from shortlist??',
            buttons: {
                confirm: {
                    text: 'Confirm',
                    btnClass: 'btn-blue',
                    keys: ['enter'],
                    action: function () {
                        $.post("@Url.Action("removeAcceptStatus", "employer")", {app_id:app_id}).done(function (response, status, jqxhr) {
                            if (response == true) {
                                $.alert("Sucess");
                                window.location.reload();
                            }
                            else
                                $.alert("Failed!!!");

                        })
                    }
                },
                cancel: function () {
                }
               
            }
        });
    }

</script>
